@model CookBook.Models.RecipeModel



<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Recipe</h2>
            <hr />
        </div>
        <div class="mb-3">            
            <label asp-for="Category"></label>
            <select asp-for="Category.Name" asp-items="Model.Categories" style="width:90%" class="form-control">
                <option value="NothingSelected">--Select Category--</option>
            </select>
            <a asp-controller="Category" asp-action="CreateCategory" class="btn" style="margin-bottom: 10px; background-color:#fdc57b; margin-top: 10px">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Category
            </a>
            <a class="btn active" role="button" aria-pressed="true" asp-controller="Category" asp-action="Index" style="background-color:#dc2f2f; color:#fbf2d5">Edit or Delete Category</a>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Directions"></label>
            <textarea rows="5" asp-for="Directions" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn" style="width:150px;background-color:#fdc57b; color:#394a51">Add Recipe</button>
        <a asp-controller="Recipe" asp-action="Index" class="btn btn-secondary" style="width:150px;background-color:#394a51; color:#fbf2d5">
            Back to Recipes
        </a>
    </div>
</form>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea#Directions',
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
                'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
                'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menubar: 'favs file edit view insert format tools table help',
                content_css: 'css/content.css'
        });
    </script>
}