@model CookBook.Models.RecipeModel


<form method="post" asp-action="EditRecipe">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Recipe</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Directions"></label>
            <input asp-for="Directions" class="form-control" />
        </div>
        <button type="submit" class="btn" style="width:150px;background-color:#fdc57b; color:#394a51">Update</button>
        <a asp-controller="Recipe" asp-action="GetRecipe" asp-route-id="@Model.Id" class="btn btn-secondary" style="width:150px;background-color:#394a51; color:#fbf2d5">
            Cancel
        </a>
    </div>
</form>