@model CookBook.Models.RecipeModel


<form method="post" asp-action="EditRecipe">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 style="color: #394a51">Edit Recipe</h2>
            <hr />
        </div>
        <input hidden asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="Category"></label>
            <select asp-for="Category.Name" asp-items="Model.Categories" style="width:90%" class="form-control">
                <option value="NothingSelected">--Select Category--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Directions"></label>
            <textarea rows="5" asp-for="Directions" class="form-control"></textarea>
            <label hidden asp-for="CreateDate"></label>
            <input hidden asp-for="CreateDate"/>
        </div>
        <button type="submit" class="btn" style="width:150px;background-color:#fdc57b; color:#394a51">Update</button>
        <a asp-controller="Recipe" asp-action="GetRecipe" asp-route-id="@Model.Id" class="btn btn-secondary" style="width:150px;background-color:#394a51; color:#fbf2d5">
            Cancel
        </a>
    </div>
</form>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea#Directions'
        });
    </script>
}